.icon {
    width: 25px;
    height: 25px;
    background: #999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.icon i {
    color: #fff;
}

.icon img {
    object-fit: contain;
    width: 100%;
    padding: 6px;
}

.notification::after {
    min-width: 20px;
    height: 20px;
    content: attr(data-count);
    background-color: #ed657d;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transition: .3s;
    opacity: 0;
    transform: scale(.5);
}

.notification.show-count::after {
    opacity: 1;
    transform: scale(1);
}

.notification.notify {
    animation: bell 1s ease-out;
    transform-origin: center top;
}

@keyframes bell {
    0% {
        transform: rotate(35deg);
    }

    12.5% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(25deg);
    }

    37.5% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(15deg);
    }

    62.5% {
        transform: rotate(-10deg)
    }

    75% {
        transform: rotate(5deg)
    }

    100% {
        transform: rotate(0);
    }
}