.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider .controls ul {
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 1em;
    margin: 0;
    width: 100%;
    z-index: 5;
}

.slider .controls li {
    list-style-type: none;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .4);
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.slider .controls li.active {
    background: #6086F7;
}

.slider-container {
    white-space: nowrap;
    position: relative;
    transition: all 1s;
    left: 0;
}

.slider-container * {
    white-space: normal;
}

.slider img {
    height: 400px;
    width: 100%;
    display: inline-block;
    object-fit: cover;
}